    <footer class="footer fixed-bottom bg-dark py-2"> &copy;Copyright &nbsp;&nbsp;-&nbsp;&nbsp;Parth Patel</footer>
    <!-- Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>