<div class="container card mb-4 shadow-lg">

  <!-- Horizontal Card from Bootstrap -->
    <div class="row">

      <!-- Portrait of myself-->
      <div class="col-5 ">
        <img src="/assets/images/photo.jpg" alt="Portrait of Parth" class="card-image my-3 portrait"></img>
      </div>

      <!-- Name and Paragraph about me-->
      <div class="col">
        <div class="card-body">
          <h4 class="card-title display-4">Parth Patel</h4>
          <p class="card-text ml-2">Hello there,<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;I'm Parth Shreyash Patel. Currently, I'm studying Software Engineering Technician at Centennial College. As a kid, I've always been interested in technology,
            however my interest in programming didn't emerge until much later. I was previously at Ryerson for Chemical Engineering, where first year required us to 
            take a programming course in C. That is where I realized that I really enjoyed programming, however I didn't persue it further. Later on, due to my own 
            curiosity, talking to friends and family I decided to switch and persue it. This has led me where I currently am.
          </p>
          <br>
          <!-- Download Resume PDF -->
          <div class="row justify-content-center my-2">
            <a href="/about/download">Click here to download my resume</a>
        </div>
        </div>
      </div>
    </div>
</div>