<div class="container ">
    <div class="row">
      <!-- Welcome Sign -->
      <div class="col jumbotron shadow">
        <h1 class="display-2">Welcome!</h1>
        <h3>Thank you for taking the time to visit my <%= title %> page.</h3>
      </div>
    </div>

    <!-- Mission Statement -->
    <div class="row shadow">
      <div class="col-12 shadow">
        <p id="missionStatement">Currently this site is fairly bare. I am just beginning to understand the MEAN stack.
          I am still trying to get a handle on Bootstrap, NodeJS, and Express.<br>
        As my time in the course (COMP229) progresses I am hoping to come back and update the site to further showcase my ability.</p>
      </div>
    </div>

    <!-- Buttons to lead to other pages -->
    <div class="row shadow">
      <div class="col-6 mt-4 pb-4">
        <p>Click below to learn more about me</p>
        <a href="/about" class="btn btn-outline-primary">About Me</a>
      </div>
      <div class="col-6 mt-4 pb-4">
        <p>Click below to Contact Me</p>
        <a href="/contact" class="btn btn-primary">Contact Me</a>
      </div>
    </div>
  </div>