<!--  -->
<div class="container mt-0">
    <div class="row" >
        <div class="col">
            <p class="text-center pt-2">Here are some of the "projects" that I have worked on.
             Please click one of the tabs to see an image and description of the project</p>
        </div>
    </div>
</div>
<!-- Tab choices; all inactive until one is chosen.-->
<ul class="container nav nav-tabs justify-content-center">
    <li class="nav-item project">
      <a class="nav-link" id="project01" href="#proj01">Image Gallery</a>
    </li>
    <li class="nav-item project">
      <a class="nav-link" id="project02" href="#proj02">Game</a>
    </li>
    <li class="nav-item project">
      <a class="nav-link" id="project03" href="#proj03">Banking App</a>
    </li>
  </ul>
<!-- Upon tab choice,One of the following projects will show up beneath the tab. -->
  <div class="container">
    <!-- Image gallery info window
            first row contains picture of the project, second row is a brief description -->
    <div class="row proj p-3 mb-2" id="proj01">
        <div class="col-5">
            <img src="/assets/images/gallery.png" width="100%" alt="Picture of image gallery">
        </div>
        <div class="col">
            <h6 class="display-4">Image Gallery</h6>
            <p class="m-3">As part of COMP125 the final assignment was to create an image gallery. It would use AJAX to update the images, and should change images 
                at a time specified. <br><br>Click <a href="http://studentweb.cencol.ca/ppate732/comp125/labs/assignment06/gallery.html" target="_blank">Here</a> to see the gallery.
            </p>
        </div>
    </div>
    <!-- game info window -->
    <div class="row proj p-3 mb-2" id="proj02">
        <div class="col-5" >
            <img src="/assets/images/game.png" width="100%" alt="Image of 'Hero Killer Game'">
        </div>
        <div class="col">
            <h6 class="display-4">Bug Squisher Game</h6>
            <p class="m-3">
                Assignment #5 of COMP125 was to create a "Bug Squisher" game. Everytime the 'bug' is killed, it was expected to jump around at a faster 
            rate compared to before.<br><br> Click <a href="http://studentweb.cencol.ca/ppate732/comp125/labs/assignment05/game.html" target="_blank">Here</a> to give the game a shot!
            </p>
        </div>
    </div>
    <!-- banking app info window -->
    <div class="row proj p-3 mb-2" id="proj03"> 
        <div class="col-5">
            <img src="/assets/images/bankingApp.png" width="100%" alt="Image of 'Banking App'">
        </div>
        <div class="col">
            <h6 class="display-4">Banking App</h6>
            <p class="m-3">
                While at Ryerson University, the final assignment for COE528 was to create a banking app using Java and JavaFX. It was a simple desktop application that 
                required two types of users: admin and customer. Each role had their own capabilities. Albiet fairly simple, learning JavaFX was solely up to us students.
            </p>
        </div>
    </div>
  </div>